.footer {
    margin-top: 48px;
}

.footer__title {
    text-align: center;
    margin-bottom: 24px;
    font-size: 12px;
    letter-spacing: 1.71px;
    font-weight: 700;
    color: var(--text-secondary);
    text-transform: uppercase;
}
.footer__body {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0 -15px;
}
.footer--item {
    width: calc(100% / 4);
    padding: 0 12px;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    height: 120px;
    
}

.footer--item figure {
    background-color: #f7f7f7;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 10px;
    border-radius: 8px;
}

.footer--item img {
    display: block;
    width: 160px;
    height: 80px;
    object-fit: contain;
    aspect-ratio: 4/3;
}