/* custom style header  */

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    top: 0;
    left: 240px;
    height: 70px;
    width: var(--header-width);
    padding: var(--header-padding);
    z-index: 99;
    transition: right 0.4s;
  }
  
.header::before {
    content: "";
    position: absolute;
    height: 70px;
    left: 0;
    right: 0;
    bottom: var(--header-scroll-bottom);
    background-color: var(--layout-header-bg);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    width: calc(100% + 2px);
    box-shadow: 0 3px 5px var(--sticky-header-box-shadow);
    
}

.wrap__header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    margin-right: 10px;
    height: 40px;
}

.arrow_left, .arrow_right {
    display: flex;
    margin-right: 20px;
    opacity: 0.3;
    font-size: 24px;
    padding: 10px;
}

.arrow_left i, .arrow_right i {
    width: 24px;
    height: 24px;
}

.search {
    position: relative;
    flex-grow: 1;
    height: 100%;
    max-width: 440px;
    padding: 0 40px;
    border-radius: 20px;
    background-color: var(--alpha-bg);
    font-size: 15px;
}

.input_search {
    height: 100%;
    width: 100%;
}

.input_search::placeholder {
    color: var(--text-placeholder);
}

.search_icon {
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 14px;
    display: flex;
    color: var(--search-text);
    transform: translatey(-50%);
    opacity: 0.8 !important;
}

.search_icon i {
    font-size: 20px !important;
    line-height: 40px;
}

/* click on search */
.search.is-collapse {
    border-radius: 20px 20px 0 0;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--primary-bg);
}
  
.search.active {
    border-radius: 20px 20px 0 0;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--primary-bg);
}

/* search__suggest and media css */

/* search__suggest and media css end */


/* header navbar right */
.nav_right {
    display: flex;
    align-items: center;
}

.nav_right > div button {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    color: var(--setting-icon-text);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--alpha-bg);
    border-radius: 50%;
    cursor: pointer;
}


.nav_right  div > button:hover {
    filter: brightness(.9);
}
.nav_theme button svg {
    display: block;
    width: 25px;
    height: 25px;
}
.nav_right button i {
    font-size: 21px ;
    opacity: 0.8;
    line-height: 40px;
}

/* MENU SETTING */
.nav_setting {
    position: relative;
}



.nav_setting .settings__menu {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    text-align: left;
    width: 240px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 99;
    border-radius: 8px;
    background-color: var(--primary-bg);
    display: none;
}

.nav_setting.active .settings__menu {
    display: block;
}

.nav_setting .settings__menu > .menu__list{
    padding: 10px 0;
}

.menu__list .list--items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px 12px 17px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    color: var(--navigation-text);
}

.menu__list .list--items span {
    flex: 1;
    font-size: 14px;
}
.menu__list .list--items i:first-child {
    margin-right: 10px;
}

.menu__list .list--items i {
    width: 20px;
    font-size: 20px !important;
    line-height: 66%;
    display: inline-block;
}

.list--items:hover {
    background-color: var(--alpha-bg);
    color: var(--text-item-hover);
}

.nav_setting .settings__menu .setting_footer {
    border-top: 1px solid var(--border-primary);
}
.nav_setting .settings__menu .setting_footer .menu__list .list--items {
    color: var(--text-secondary);
    opacity: 0.8;
}

.nav_right .nav_account {
    position: relative;
    margin-right: 0;
}
.nav_right .nav_account img{
    object-fit: cover;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

/* custom icon close in box input  */
.search .icon--close {
    position: absolute;
    right: 15px;
    left: auto;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
    display: none;
}

/* custom suggestions search */
.search .search__suggestion {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: auto;
    left: 0;
    min-height: 0;
    background-color: var(--primary-bg);
    z-index: 5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 13px 10px;
    color: var(--text-primary);
    box-shadow: 0 4px 6px 0 rgb(32 33 36 / 28%);
    display: none;
}

.search.active .search__suggestion {
    display: block;
}

.search__suggest--body {
    max-height: calc(100vh - 180px);
    overflow-y: auto;
}

.suggest__title {
    font-size: 16px;
    font-weight: 700;
    padding: 0 10px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggest__list {
    padding: 0 10px;
}

.suggest--item {
    display: flex;
    align-items: baseline;
    border-radius: 4px;
    padding: 8px 10px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.suggest--item:hover {
    background-color: var(--alpha-bg);
}

.suggest--item i {
    font-size: 16px;
    color: var(--text-primary);
    opacity: 0.8;
    margin-right: 10px;
    vertical-align: bottom;
}

.suggest--item .sugg_text {
    width: 100%;
}

.suggest__suggestions .suggest--item {
    flex: 1 1;
    align-items: center;
}

.suggest--item .item--avt {
    display: flex;
    margin-right: 10px;
}

.suggest--item .item--avt img {
    width: 52px;
    height: 52px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}

.suggest--item .item--body {
    flex: 1 1 auto;
    text-align: left;
    align-self: center;
    width: 0;
    /* text-transform: capitalize; */
}

.item--body h3 {
    font-weight: 500;
}

.item--body h3:hover {
    color: var(--text-item-hover);
}
.item--body p:first-of-type:first-letter {
    text-transform: uppercase;
}
.item--body p {
    font-size: 12px;
    color: var(--text-secondary);
}












